.header{
    background-color: #3498db;
    background-image: linear-gradient(to right, #3498db 0%, #6f86d6 100%);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
}
.sidebar{
    background-color: #343a40;
    color: #ced4da;
    padding-top: 16px;
    padding-bottom: 24px;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 240px;
}
.content{
    margin-left: 240px;
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
}

.td_div{
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.tag {
    background-color: #dfe1e5;
    border-radius: 0;
    color: #354052;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-right: 4px;
    padding: 4px 6px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.tag__pc {
    background-color: #e3fafc;
    color: #22b8cf;
    order: 3;
}
.tag__mobile {
    background-color: #f3f0ff;
    color: #9775fa;
    order: 5;
}
.tag__tv, .tag__pc, .tag__tablet, .tag__mobile, .tag__audio, .tag__vr, .tag__encryption, .tag__channel, .tag__youtube {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.m-btn {
    background-color: #fff;
    background-position: center;
    border: 1px solid #ced4da;
    border-radius: 0;
    color: #495057;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    outline: 0;
    overflow: hidden;
    padding: 9px 12px;
    user-select: none;
    text-align: center;
    text-decoration: none;
    transition: background .4s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}
.m-btn:hover {
    background: #dee2e6 radial-gradient(circle, transparent 1%, #dee2e6 1%) center/20000%;
}
.m-btn-primary {
    background-color: #3498db;
    border-color: transparent;
    color: #fff;
}
.m-btn-danger {
    background-color: #f5696c;
    border-color: #f5696c;
    color: #fff;
}
.m-btn-primary:hover{
    background:#258cd1;
    radial-gradient(circle, transparent 1%, #258cd1 1%) center/20000%
}
.m-btn-primary:active{
    background-color: #3498db;
    background-size:100%;transition:background 0s ease-in-out
}
.m-btn-danger:hover{
    background-color:#fa5252;
    radial-gradient(circle, transparent 1%, #258cd1 1%) center/20000%
}
