<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .jb {
            width: 100px;
            height: 500px;
            margin: 60px auto;
            background-color: orange;
            transition: all ease 1s;
        }
        .jb:hover {
            transform: scale( 1.5 );
        }
    </style>
</head>
<body>
index page
<div class="row">
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Remember Me</label>
        </div>
    </div>
</div>


<div class="jb"></div>
</body>
</html>