<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="content" id="content-wrapper" class="d-flex flex-column min-vh-88" >
    <div id="content" >
        <div class="container-fluid">
            <div class="card shadow mb-4 animate-div mt-3">
                <div class="card-header py-3">
                    <h6 class="h3 m-0 font-weight-bold text-primary d-inline-block">고객사 리스트</h6>
                    <div class="float-right">
                        <button type="button" class="white-btn" onclick="addNewCustomer();" data-target="#modal" data-toggle="modal">
                            <i class="glyphicon glyphicon-user"></i>
                            고객사 등록
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>고객사 코드</th>
                                <th>고객사</th>
                                <th>연결된 Email리스트</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="dt: ${tbdata}">
                                <td th:text="${dt.customerCode}"></td>
                                <td >
                                    <span th:text="${dt.customerNM}"></span>
                                    <div class="float-right">
                                        <span class="tag tag__pc tooltip-message td_div select-btn" th:onclick="|javascript:detailCustomerInfo('${dt.customerCode}', '${dt.customerNM}')|" >상세보기</span>
                                        <span class="tag tag__mobile tooltip-message td_div select-btn" th:onclick="|javascript:delCustomerCode('${dt.customerCode}')|">삭제</span>
                                    </div>
                                </td>
                                <td>
                                    <span th:text="${dt.customerEmail}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-side-div detail select-box">
        <div class="col-xl-12">
            <div class="card border-left-primary h-100 mb-3">
                <div class="card-body p-2">
                    <div class="row m-3">
                        <div class="col ">
                            <div class="row no-gutters label-form-group align-items-center ">
                                <div class="col">
                                    <span class="tag tag__card" >고객사</span>
                                    <input class="form-control bg-white" type="text" id="customer_nm" placeholder="Customer">
                                </div>
                                <div class="col-auto" id="cus_edit">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 small" id="customer_detail">

        </div>
    </div>
    <script th:src="@{/js/customer.js}"></script>
</div>
</html>